@import '../../styles/base';

.app__banner01 {
    height: 545px;
    background-image: url(../../assets/images/banner01.png);
    background-size: cover;

    .app__banner01-container {
        max-width: 1440px;
        margin: 0 auto;
        @extend %section-padding;
        @extend %flex-center;
        justify-content: flex-start;
        flex-wrap: nowrap;


        h1 {
            color: $white;

            span {
                font-family: 'Mazzard Bold';
            }
        }

        .app__banner01-content {
            display: flex;
            gap: 20px;
            margin-left: 6rem;

            div {
                display: flex;
                flex-direction: column;
                gap: 24px;

                &:last-child {
                    margin-top: 2.5rem;
                }

            }

            .app__banner01-card {
                text-align: center;
                width: 220px;
                padding: 0 2rem 1rem;
                margin-top: 0 !important;
                gap: 0;

                h3 {
                    font-size: 80px;
                    line-height: 114px;
                    font-family: 'Ethnocentric';
                }

                p {
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: bold;
                }
            }
        }
    }
}